<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Add Test</title>
</head>

<body>
    <h1>Add Test</h1>
    <form method="post" action="{{ url_for('add_test') }}">
        <label for="name">Test Name:</label>
        <input type="text" name="name" required>
        <button type="submit">Add Test</button>
    </form>
</body>

</html>
